<div class="menu-content">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6 col-md-offset-3">
				<h1 class="page-title text-center">{{title}}</h1>
				<div ng-repeat="type in sweets_state_data">
					<h4 class="category-title">{{type.category}}</h4>
					<ul class="items-list" ng-repeat="item in type.content">
						<li>
							<span class="item-name">{{item.name}}</span>
							<!-- <span class="list-indicator"></span> -->
							<span class="item-price">{{item.price}}&euro;</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>